Json File.json
[{"id":"ef5b6813.b3bac8","type":"tab","label":"Flow","disabled":false,"info":""},{"id":"df7663ad.4b191","type":"function","z":"ef5b6813.b3bac8","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"7k1pPNCpAfr7VsM4ahxitz_57q3zJ2ua56Ai5FF14VLy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["1e9447f1.87a5c8"]]},{"id":"1e9447f1.87a5c8","type":"http request","z":"ef5b6813.b3bac8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":368.9999952316284,"wires":[["2b94bd2.d917d42"]]},{"id":"77f21d4a.6bedb4","type":"debug","z":"ef5b6813.b3bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":918.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"2b94bd2.d917d42","type":"function","z":"ef5b6813.b3bac8","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\nvar token=msg.payload.access_token\nvar instance_id=\"fc64b304-1ed9-4d10-a3db-97461e790964\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\",\"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":331.9999990463257,"wires":[["e25973be.7c32a"]]},{"id":"e25973be.7c32a","type":"http request","z":"ef5b6813.b3bac8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/a514fa3f-f8fc-4c13-a74f-b9bada9db101/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":769.5000076293945,"y":275.9999990463257,"wires":[["3e91aad1.b80736"]]},{"id":"3e91aad1.b80736","type":"function","z":"ef5b6813.b3bac8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210937,"y":171.60000133514404,"wires":[["f11c04d4.3f20c8","77f21d4a.6bedb4"]]},{"id":"f11c04d4.3f20c8","type":"ui_text","z":"ef5b6813.b3bac8","group":"80194ba.08193b8","order":2,"width":0,"height":0,"name":"","label":"DIAGNOSIS","format":"{{msg.payload}}","layout":"row-spread","x":817.6000366210937,"y":428.20000743865966,"wires":[]},{"id":"b4141bf9.86d1b8","type":"ui_form","z":"ef5b6813.b3bac8","name":"","label":"PARAMETERS","group":"80194ba.08193b8","order":1,"width":0,"height":0,"options":[{"label":"MEAN RADIUS","value":"mr","type":"number","required":true,"rows":null},{"label":"MEAN TEXTURE","value":"mt","type":"number","required":true,"rows":null},{"label":"MEAN PERIMETER","value":"mp","type":"number","required":true,"rows":null},{"label":"MEAN AREA","value":"ma","type":"number","required":true,"rows":null},{"label":"MEAN SMOOTHNESS","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":420,"wires":[["df7663ad.4b191"]]},{"id":"80194ba.08193b8","type":"ui_group","z":"","name":"BREAST CANCER RISK PREDICTION","tab":"c1b63009.54a53","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1b63009.54a53","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]